/*** Awesome Table ***/

/** Change default font **/
@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato'), url(https://fonts.googleapis.com/css?family=Lato) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Apply the new font */
body, td, div, span, p {
  font-family: "Lato"!important;
}

/* selected/hovered row in a TABLE view */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
	background-color: #ffffff!important;
}

/*** Google visualization override ***/

/* page number display */
.google-visualization-table-page-numbers {
	display:none !important;
}

.google-visualization-table{
	border: 0px!important;
}

.google-visualization-table-tr-head {
	display:none !important;
}

/* Table view header */
.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {
	background: #333333 !important;
	color:#333333;
}

/** StringFilter **/
.google-visualization-controls-stringfilter INPUT {
	border:0px solid #d9d9d9!important;
	color:#222;
}
.google-visualization-controls-stringfilter INPUT:hover {
	border:0px solid #b9b9b9!important;
	border-top:0px solid #a0a0a0!important;
}
.google-visualization-controls-stringfilter INPUT:focus {
	border:1px solid #0099FF!important;
}

/* filtered results information : last - first / total number of result */
.count {
  border-top:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
  display:none !important;
}

#controlersPanel {
	text-align: center;
}

#topContainer {
		background-color: #333333 !important;
		margin-bottom: 0px !important;
}