/*** Awesome Table ***/

/* filtered results information : last - first / total number of result */
.count {
  display: none !important;
}

/* loader progress bar */
.loader {
	background-color:#437AF8;
}

/** Card view specific **/
.viewCards .google-visualization-table-table {
	background-color: transparent!important;
}
.viewCards .google-visualization-table-td {
	border-color: #D8D8D8!important;
}

/*** Google visualization override ***/

/* page number display */
.google-visualization-table-page-numbers {
	display:none !important;
}

/* Table view header */
.google-visualization-table-table .gradient,
.google-visualization-table-div-page .gradient {
	background: #3C81F8 !important
	color:#ffffff;
}

/* selected/hovered row in a TABLE view */
.google-visualization-table-tr-sel td,
.google-visualization-table-tr-over td {
	background-color: #D6E9F8!important;
}

/*** Configuration of FILTERS ***/

/** Labels of filters **/
.google-visualization-controls-label {
	color:#333;
}

/** StringFilter **/
.google-visualization-controls-stringfilter INPUT {
	border:1px solid #d9d9d9!important;
	color:#222;
}
.google-visualization-controls-stringfilter INPUT:hover {
	border:1px solid #b9b9b9;
	border-top:1px solid #a0a0a0;
}
.google-visualization-controls-stringfilter INPUT:focus {
	border:1px solid #4d90fe;
}

thead {
    display: none;
}

.controlers-filters {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 0px !important;
    padding-right: 0px !important;
    width: 100%;
}